<% if form.object.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show">
    <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <% end %>
  </div>
<% end %>
